<div class="labeltext">
  <label class="ef">
    <%= form_with model: medicine do |f| %>
      <%= f.label :name, "薬名" %>	
      <%= f.text_field :content, :placeholder => "例）タミフル", :size => 50, type: "text" %>
      <%= f.hidden_field :user_id, value: user.id %>
      <div class="center">
        <%= f.button "登録", data:{ confirm: "こちらの内容で登録しますか？" }, class: "cp_button07" %>
      </div>
    <% end %>
  </label>
</div>