<%= stylesheet_link_tag 'medicine' %>

<% provide(:title, "お薬手帳登録") %>
<%= render "users/shared/hamburger" %>
<main class="clearfix">
  <div id="content">

    <h1 class="cp_h1title">お薬手帳登録</h1>
    登録順に最新のお薬が5つ表示されます。

    <% if @medicines.present? %>
      <%= render partial: "medicine", collection: @medicines %>
    <% else %>
      <h3 class="text-center">お薬は登録されていません。</h3>
    <% end %>

    <div class="cp_iptxt">
      <%= render "form", user: @user, medicine: @medicine if current_user != @admin %>
    </div>

    <div class="center">
      <ul>
        <li><%= link_to "お薬手帳参照", record_medicine_path(@user), class: "cp_link" %></li>
        <li><%= render "users/shared/home" %></li>
      </ul>
    </div>
  </div>
</main>