<h1><%=@user.name%>画面</h1>

<%= link_to "ユーザー一覧", users_path %>
<%= link_to "会話履歴", conversations_path %>
<%= link_to "注文受付処理", orders_path %>
<%= link_to "ログアウト",  destroy_user_session_path, method: :delete %>