<h1><%=@user.name%>画面</h1>

<%= link_to "ユーザー一覧", users_path %>
<%= link_to "会話履歴", conversations_path %>
<%= link_to "受付処理確定", "#" %>
<%= link_to "店舗到着通知", "#" %>
<%= link_to "ログアウト",  destroy_user_session_path, method: :delete %>