<%= stylesheet_link_tag 'common' %>

<main class="clearfix">
  <h1 class="cp_h1title">ログイン</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="cp_iptxt">
      <div class="labeltext">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <label class="ef">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例）mail@gmail.com", type: "text"%>
      </label>
      
      <div class="labeltext">
        <%= f.label :password, "パスワード" %>
      </div>
      <label class="ef">
        <%= f.text_field :password, autocomplete: "current-password", placeholder: "例）password", type: "password" %>
      </label>

      <div class="center">
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログインを記憶する", type: "checkbox" %>
        <% end %>
      </div>
    </div>

    <div class="center">
      <%= f.button "ログイン", class: "cp_button07" %>
    </div>
  <% end %>
  
  <ul>
    <li><%= link_to "アカウント新規作成", new_user_registration_path, class: "cp_link" %></li>
    <li><%= link_to "パスワードを忘れた方はこちらへ", new_user_password_path, class: "cp_link" %></li>
    <li><%= link_to "トップへ戻る", root_path, class: "cp_link" %></li>
  </ul>  
</main>