<% if messages.present? %>

  <% messages.each do |msg| %>
    <strong><%= msg.content %></strong>
    <small><%= l msg.created_at, format: :short %></small><br>
    <small>by<strong><%= msg.user.name %></strong></small>

    <% if msg.user == current_user %>
      <%= link_to "削除", msg, method: :delete, data:{confirm: "コメントを削除しますか？"} %>  
    <% end %>

    <%= render "/users/shared/avatar", user: @conversation.user if msg.user != @admin %>

    <%= image_tag "admin.png", size: "50x50" if msg.user == @admin %><hr>
  <% end %>

<% else %>
  <h3 class="text-center">まだ会話は行われていません</h3>
<% end %>