<h1>会話履歴</h1>

<% @all_convers.each do |conver| %>
  <% if conver.messages.present? %>
    <%= conver.messages.sorted_desc.first.content %>
      <%= link_to conversation_path(conver.id) do %>
      <%= conver.user.name %>

      <% if conver.user.avatar.present? %>
        <%= link_to image_tag(conver.user.avatar.variant(resize: "50x50")), user_path(conver.user) %>
      <% else %>
        <%= link_to image_tag("default_user.png", size: "50x50"), user_path(conver.user) %>
      <% end %>
      <br>
    <% end %>
  <% end %>
<% end %>

<%= link_to "ユーザー一覧に戻る", users_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>