<%= stylesheet_link_tag 'mydr' %>
<% provide(:title, "Myドクター") %>

<main class="clearfix">
  <%= render "users/shared/hamburger" %>

  <div id="content">
    <h1 class="cp_h1title">Myドクター</h1>

    
    <div id="messages">
      <%= render partial: "messages/message", collection: @messages %>
    </div>

    <div class="cp_iptxt">
      <%= render "form", conversation: @conversation, message: @message %>
    </div>

    <div class="center">
      <ul>
        <li><%= render "users/shared/home" %></li>
      </ul>
    </div>
  </div>
</main>