<h1>ユーザー一覧</h1>
<h2>こんにちは <%= current_user.name %>さん</h2>

<% @users.each do |user| %>
  <%= link_to user.name, user_path(user.id) %>
  <%= link_to "お薬手帳", medicine_path(user.id) %>
  <%= render "/users/shared/avatar", user: user %>
  <% if user.conversations.present? %>
    <p><%= link_to "myドクター", conversation_path(user.conversations.first.id) %></p>
  <% else %>
    <%= render "users/shared/form", conversation: @conversation, user: user %><hr>
  <% end %>
<% end %>

<%= paginate @users %>
<%= link_to "会話履歴", conversations_path %>
<%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>