<h1>プロフィール詳細</h1>
<h2>ユーザー名: <%= @user.name %></h2></div>
<h2>ユーザーEmail: <%= @user.email %></h2>

<%= render "/users/shared/avatar", user: @user %>

<% if @user == current_user %>
  <%= link_to "プロフィール設定", edit_user_registration_path(@user.id) %>
<% end %>

<% if current_user.admin? %>
  <%= link_to "ユーザー一覧に戻る", users_path %>
<% else %>
  <%= link_to "HOME", home_path %>
<% end %> 