<h1>プロフィール詳細</h1>
<div id="conversations"><h2><%= @user.name %></h2></div>

<% if @user.conversations.present? %>
  <p><%= link_to "会話へ", conversation_path(@conversation_id) %></a>
<% else %>
  <%= render "form", conversation: @conversation, user: @user %>
<% end %>

<% if current_user.admin? %>
  <%= link_to "ユーザー一覧に戻る", users_path %>
<% else %>
  <%= link_to "HOME", home_path %>
<% end %> 