<%= stylesheet_link_tag 'profile' %>

<% provide(:title, "Myページ") %>
<%= render "users/shared/hamburger" %>
<main class="clearfix">
  
  <div id="content">
    <h1 class="cp_h1title">Myページ</h1>

    <div class="center">
      <%= render "/users/shared/avatar", user: @user %>

      <p>ユーザー名<br><span><%= @user.name %></span></p>
      <p>メールアドレス<br><span><%= @user.email %></span></p>
      <p>パスワード<br><span>●●●●●●●●</span></p>

      <ul>
        <li><%= link_to "編集", edit_user_registration_path(@user.id), class: "cp_link" unless @user != current_user %></li>
        <li><%= render "users/shared/home" %></li>
      </ul>
	  </div>
  </div>
</main>