<%= stylesheet_link_tag 'confirm' %>
<% provide(:title, "【管理者】注文受付処理") %>

<div id="pagenate">

  <%= render "users/shared/hamburger" %>
  <main class="clearfix">
    <div id="content">

      <h1 class="cp_h1title">【管理者】注文受付処理</h1>
      <h2>受付中</h2>
      <% if @waiting_orders.present? %>
        <% @waiting_orders.each do |order| %>
          <section>
            <%= render "select_order", order: order %>
          </section>
        <% end %>
      <% else %>
        <h1>現在、受付中の商品はありません</h1>
      <% end %>
      <%= paginate @waiting_orders, remote: true, param_name: "waiting_page" %>

      <h2>注文中</h2>
      <% if @running_orders.present? %>
        <% @running_orders.each do |order| %>
          <section>
            <%= render "select_order", order: order %>
          </section>
        <% end %>
      <% else %>
        <h1>現在、注文中の商品はありません</h1>
      <% end %>
      <%= paginate @running_orders, remote: true, param_name: "running_page" %>

      <h2>店舗到着</h2>
      <% if @arrival_orders.present? %>
        <% @arrival_orders.each do |order| %>
          <section>
            <%= render "select_order", order: order %>
          </section>
        <% end %>
      <% else %>
        <h1>現在、店舗到着済の商品はありません</h1>
      <% end %>
      <%= paginate @arrival_orders, remote: true, param_name: "arrival_page" %>

      <h2>受取済</h2>
      <% if @completed_orders.present? %>
        <% @completed_orders.each do |order| %>
          <section>
            <%= render "select_order", order: order %>
          </section>
        <% end %>
      <% else %>
        <h1>現在、受取済の商品はありません</h1><hr>
      <% end %>
      <%= paginate @completed_orders, remote: true, param_name: "completed_page" %>

      <div class="center">
	      <ul>
          <li><%= link_to "ホームへ戻る", admin_path(current_user), class: "cp_link" %></li>
        </ul>
		  </div>
    </div>
  </main>
</div>