<% if @waiting_orders.present? %>
  <h2>受付中の商品</h2>
  <% @waiting_orders.each do |order| %>
    <%= order.content %><br>
    <%= link_to order.user.name, order_path(order.user) %>
    <%= render "select", order: order %>
  <% end %>
<% else %>
  <h1>現在、受付中の商品はありません</h1>
<% end %>
<%= paginate @waiting_orders, param_name: "waiting_page" %><hr>

<% if @running_orders.present? %>
  <h2>注文中の商品</h2>
  <% @running_orders.each do |order| %>
    <%= order.content %><br>
    <%= link_to order.user.name, order_path(order.user) %>
    <%= render "select", order: order %>
  <% end %>
<% else %>
  <h1>現在、注文中の商品はありません</h1>
<% end %>
<%= paginate @running_orders, param_name: "running_page" %><hr>

<% if @arrival_orders.present? %>
  <h2>店舗到着の商品</h2>
  <% @arrival_orders.each do |order| %>
    <%= order.content %><br>
    <%= link_to order.user.name, order_path(order.user) %>
    <%= render "select", order: order %>
  <% end %>
<% else %>
  <h1>現在、店舗到着済の商品はありません</h1>
<% end %>
<%= paginate @arrival_orders, param_name: "arrival_page" %><hr>

<% if @completed_orders.present? %>
  <h2>受取済の商品</h2>
  <% @completed_orders.each do |order| %>
    <%= order.content %><br>
    <%= link_to order.user.name, order_path(order.user) %>
    <%= render "select", order: order %>
  <% end %>
<% else %>
  <h1>現在、受取済の商品はありません</h1><hr>
<% end %>
<%= paginate @completed_orders, param_name: "completed_page" %><hr>