<%= stylesheet_link_tag 'medicine' %>

<main class="clearfix">
  <%= render "users/shared/hamburger" %>
    <div id="content">
      <h1 class="cp_h1title">注文履歴</h1>

        <% if @orders.present? %>
          <%= render partial: "users/orders/order", collection: @orders %>

          <%= paginate @orders %>
        <% else %>
          <h3 class="text-center">注文はされていません</h3>
        <% end %>
      
      <div class="center">
        <ul>
          <li><%= link_to "注文へ戻る", new_order_path, class: "cp_link" unless current_user.admin? %></li>
          <li><%= render "users/shared/home" %></li>
        </ul>
      </div>
    </div>
</main>