<% provide(:title,"HOME" ) %>
<h1>こんにちは  <%= @user.name %>  さん</h1>

<%= link_to "Myドクター", user_path(@user) %>
<%= link_to "注文", new_order_path %>
<%= link_to "注文履歴", order_path(@order.user) %>
<%= link_to "お薬手帳　登録", medicine_path %>
<%= link_to "お薬手帳　参照", record_medicine_path(@user)%>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "プロフィール", edit_user_registration_path(@user.id) %>