<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">
	<title>MediRoom</title>
	<meta name="format-detection" content="telephone=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>