<!DOCTYPE html>
<html>
  <%=render 'layouts/head'%>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <%=render 'layouts/header' unless @display%>
    <div class="container">
    <%= yield %>
    <%=render 'layouts/footer' unless @display%>
    </div>
</body>
</html>
