<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
    <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= render 'layouts/devise_header' %>
      <div class="container">
        <%= yield %>
      </div>
    </body>
</html>