<h2>プロフィール編集(<%= @user.name %>)</h2>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar.variant(resize:'100x100') %>
  <%= link_to '削除', purge_user_path(@user.id),　method: :delete,　data: { confirm: '本当に削除しますか？' } %>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :name, "ユーザー名" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :avatar, "アカウント画像" %><br />
    <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= f.submit "変更" %>
  </div>
<% end %>

<h3>アカウントを削除する</h3>

<p><%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当にアカウントを削除してもよろしいですか?（復元は致しかねますのでご注意下さい）" }, method: :delete %></p>

<%= link_to "戻る", :back %>
