<%= stylesheet_link_tag 'common' %>
<header>
  <%= link_to image_tag("Logo.gif", id: "logoimg", alt: "MediRoom"), root_path(current_user) %>
</header>
<% provide(:title, "アカウント新規作成" ) %>

<main class="clearfix">
  <h1 class="cp_h1title">アカウント新規作成</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="cp_iptxt">
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="labeltext">
        <%= f.label :name, "ユーザー名" %>
      </div>
      <label class="ef">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", type: "text", placeholder: "例）Taro Yamada" %>
      </label>

      <div class="labeltext">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <label class="ef">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "text", placeholder: "例）mail@gmail.com" %>
      </label>

      <div class="labeltext">
        <%= f.label :password, "パスワード" %>
      </div>

      <div class="labeltext">
        <% if @minimum_password_length %>
         (<%= @minimum_password_length %> 文字以上)
        <% end %>
      </div>
      <label class="ef">
        <%= f.text_field :password, autocomplete: "new-password", type: "password", placeholder: "例）password" %>
      </label>

      <div class="labeltext">
        <%= f.label :password_confirmation, "パスワード(確認)" %><br/>
      </div>
      <label class="ef">
        <%= f.text_field :password_confirmation, autocomplete: "new-password", type: "password", placeholder: "例）password" %>
      </label>

      <div class="center">
        <%= f.button "作成", class: "cp_button07" %>
      </div>
    </div>
  <% end %>

  <ul>
    <li><%= link_to "戻る", root_path, class: "cp_link" %></li>
  </ul>
</main>